<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary my-3" [routerLink]="['/restaulist']">Back</button>
            <hr>
            <h1>Add User</h1>
        </div>
    </div>
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <div class="form-row">
            <div class="form-group col-6">
                <label for="restauname">Restaurant name :</label>
                <input type="text" name="restauname" id="restauname" formControlName="restauname" class="form-control">
                <div *ngIf="restauname.touched && restauname.invalid">
                    <small *ngIf="restauname.errors.required" class="text-danger">Restaurant name  is required<br></small>
                    <small *ngIf="restauname.errors.pattern" class="text-danger">Invalid Restaurant name <br></small>
                    <small *ngIf="restauname.errors.minlength" class="text-danger">Restaurant name  must contain two characters at least</small>
                </div>
            </div>

            <div class="form-group col-6">
                <label for="Address">Address :</label>
                <input type="text" name="Address" id="Address" formControlName="Address" class="form-control">
                <div *ngIf="Address.touched && Address.invalid">
                    <small *ngIf="Address.errors.required" class="text-danger">Address is required<br></small>
                    <small *ngIf="Address.errors.pattern" class="text-danger">Invalid Address<br></small>
                    <small *ngIf="Address.errors.minlength" class="text-danger">Address must contain two characters at least</small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label for="phone">Phone :</label>
                <input type="text" name="phone" id="phone" formControlName="phone" class="form-control">
                <div *ngIf="phone.touched && phone.invalid">
                    <small *ngIf="phone.errors.required" class="text-danger">Phone is required<br></small>
                    <small *ngIf="phone.errors.pattern" class="text-danger">Invalid Phone<br></small>
                    <small *ngIf="phone.errors.minlength" class="text-danger">Phone must contain 8 characters at least</small>
                    <small *ngIf="phone.errors.maxlength" class="text-danger">Phone must contain a maximum of 13 characters</small>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <input type="submit" value="Add User" [disabled]="addUserForm.invalid" class="btn btn-info">
            </div>
        </div>

    </form>
</div>
<app-footer></app-footer>