<div class="container">

  <form [formGroup]="myForm" (ngSubmit)="saveUser()">
      <div class="form-row">
          <div class="form-group col">
              <label for="restauname">restauname :</label>
              <input class="form-control" type="text" name="restauname" id="restauname" formControlName="restauname">
              <div *ngIf="restauname.touched && restauname.invalid">
                  <small *ngIf="restauname.errors.required" class="text-danger">restauname is required<br></small>
                  <small *ngIf="restauname.errors.pattern" class="text-danger">Invalid restauname<br></small>
                  <small *ngIf="restauname.errors.minlength" class="text-danger">restauname must contain two characters at least</small>
              </div>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col">
              <input type="submit" value="Send" [disabled]="myForm.invalid" class="btn btn-primary">
          </div>
      </div>
  </form>
</div>